

.event {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

section {
    border-bottom: 2px dashed black;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

section:last-of-type {
    border-bottom: 0;
    margin: auto;
}

.event img {

    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    padding: 25px;
    transition: transform 100ms;
}


.event img:hover {
    transform: scale(97%);
}

.event h2 {

    font-size: 1.5rem;
    padding: 0;
    line-height: 3rem;
    margin-bottom: 10px;
}

.event h3 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2.25rem;

}


.event a:link, .event a:visited {

    color: black;
}


.event a:hover {

    color: #930114;
}

.event p {
    padding: 0;
    max-width: 350px;
}

.event p:last-child {

    margin-bottom: 50px;
}
