.home-header {

    border: 0;
    margin: 0;
    background-color: antiquewhite;
}



@media screen and (min-width: 600px) {

    .home-header {
        padding: 50px;
    }
}

section.home {
    padding: 50px 12px;
    border: 0;
    margin: 0;

}



.large-pic {
    width: 100%;
    max-width: 550px;
    padding: 50px;
}

.selfie {
    padding: 20px;
}

.home-footer {
    background-color: black;
    padding: 12px;
    color: white
}

.home-footer a:link,
.home-footer a:visited {

    color: white;
}

.after-dark {
    background-color: black;
    color: white;
    margin: -8px;
}


.hollow-inside {
    background-color: antiquewhite;
    margin: -8px;
}


@media screen and (min-width: 1000px) {

    .book-1,
    .book-2,
    .header-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.book-img,
.book-img2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    align-content: space-around;

}





.book-img div:first-of-type {

    max-width: 550px;
}

.book-img a {

    background-color: white;
    color: #930114;
    width: auto;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    padding: 12px;
    transition: transform 100ms;
}

.book-img a:hover {
    transform: scale(97%);

}

.book-img2 a {

    background-color: black;
    color: white;
}

section {

    padding-bottom: 50px;
}